<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% autoescape true %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Course</title>
<style type="text/css">
<!--
-->
</style>
<link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
 <form id="form1" name="form1" method="get" action="/search">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="300" border="0" cellpadding="10" cellspacing="0" id="head">
      <tr>
        <td width="150" align="center" bgcolor="#FFFFCC"><a href="/">Course</a></td>
        <td width="150" align="center" bgcolor="#FFFFCC"><a href="/Notification">Notification</a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFCC">
      <table width="900" border="0" cellpadding="10" cellspacing="0" id="row3">
        <tr align="center">
          <td width="200"><label>
            <input type="text" name="keyword" id="keyword" />
          </label></td>
          <td width="150"><select name="faculity" id="faculity">
              <option value=""></option>
              <option value="1">Engineering</option>
              <option value="2">Information Technology</option>
              <option value="3">Business Administration</option>
              <option value="4">Language</option>
            </select></td>
          <td><select name="department" id="department">
              <option value=""></option>
              <option value="1">Infomation Technology</option>
              <option value="2">Multimedia Technology </option>
              <option value="3">Business Information Technology</option>
              <option value="4">Accountancy</option>
              <option value="5">Industrial Management</option>
              <option value="6">International Business Management </option>
              <option value="7">Japanese Businees Administration</option>
              <option value="8">Computer Engineering</option>
              <option value="9">Production Engineering </option>
              <option value="10">Automotive Engineering </option>
              <option value="11">Electrical Engineering</option>
              <option value="12">Industrial Engineering</option>
              <option value="13">Language</option>
            </select></td>
          <td width="80"><label>
              <select name="year" id="year">
                <option value=""></option>
                <option value="2556">2556</option>
                <option value="2555">2555</option>
                <option value="2554">2554</option>
                <option value="2553">2553</option>
              </select>
            </label></td>
          <td width="50"><select name="semester" id="semester">
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select></td>
          <td>
          <input type="submit" name="search" id="search" value="Search" />
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td align="center" bgcolor="#FFFFCC"><table width="900" border="0" cellpadding="6" cellspacing="0">
      <tr class="font1">
        <td width="100" align="center" bgcolor="#FFFF66">Code</td>
        <td width="360" align="center" bgcolor="#FFFF66">Name</td>
        <td width="100" align="center" bgcolor="#FFFF66">Credit</td>
        <td width="80" align="center" bgcolor="#FFFF66">Enrolled</td>
        <td width="100" align="center" bgcolor="#FFFF66">Status</td>
        <td align="center" bgcolor="#FFFF66">&nbsp;</td>
      </tr>
            

           {% for row in course  %}
                      
      <tr>
      
        <td align="center"><a href="/DetailCourse?course_code={{ row[1]}}">{{ row[1] }}</a></td>
        <td align="center">{{ row[2] }}</td>
        <td align="center">

<script type="text/javascript">

        var lecture,lab,learning,credit
        lecture={{row[3]}};
        lab={{row[4]}};
        learning={{row[5]}};
        credit=(lab/3)+lecture;
        document.write(credit+"("+lecture+"-"+lab+"-"+learning+")");
</script>
        </td>
               
              
        <td align="center">
              {% for row2 in enroll  %}
           
<script type="text/javascript">

         if({{row[7]}}=={{row2[2]}})
         document.write({{row2[1]}}+"/"+{{row2[0]}});
       
        
</script>
                {% endfor %}
      </td>
                        
      
      

        <td align="center">
<script type="text/javascript">
        if ({{ row[6] }}==1)
        document.write("Active");
        else
        document.write("Inactive");

</script>
        </td>
        

        <td align="center">
        {% if(row[6]==1) %}
        <a href="/toggle?course_id={{row[0]}}"><input type='button' name='button' id='button' value='Disable' /></a>
        {% else %}
        <a href="/toggle?course_id={{row[0]}}"><input type='button' name='button' id='button' value='Enable' /></a>
        {% endif %}


       </td>
       
      </tr>
          {% endfor %}  
    </table></td>
  </tr>
  <tr>
    <td><table width="200" border="0" cellpadding="10" cellspacing="0" id="footer">
      <tr>
        <td align="center"><a href="/Create">Create</a></td>
        </tr>
    </table></td>
  </tr>
</table>
</form>
</body>
</html>


{% endautoescape  %}